
// 主题颜色
$c-theme-color                  : #5A87FF;
$c-theme-color-base             : #fff;
// Prefix
// Base
$c-body-background              : #fff;

// 字体颜色
$c-font-color-title             : #333;
$c-font-color                   : #666;
$c-font-color-remark            : #999;

$c-font-size-title              : 20px;
$c-font-size-subtitle           : 18px;
$c-font-size                    : 14px;
$c-font-size-remark             : 12px;

$c-font-weight-sm               : 500;
$c-font-weight-md               : 600;
$c-font-weight-lg               : 700;

$c-box-shadow                   : 0 1px 4px 0 rgba(0,0,0,0.10);
$c-border-color                 : #e0e0e0;
